---
title: Hey U It's Me
layout: layouts/home.njk
description: Description. It's a blog!
image: https://res.cloudinary.com/chrisrindone/image/upload/v1614777129/chris1_aur7al.png
date: Last Modified
---

<p>
  This is my blog. 
</p>
<p>
If you are expecting a stream of thoughtful, informed, socially acceptable writings, you will quite probably be disappointed. I'm just blogging here.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>